<template name="frs_post_tr">

        <tr class="frs-post-tr" data-post-id="{{ post._id }}">
            <td class="frs-td frs-postid">
                <div>{{ postOwner post }}</div>
                <div>{{ posted post }}</div>
                <div class="frs-post-id">{{ post._id }}</div>
                <div class="d-flex justify-content-around frs-edit-div">
                    {{#if canEdit post }}
                        <button type="button" class="btn btn-sm btn-outline-primary frs-btn frs-edit-btn" data-bs-toggle="button">{{ i18n label="edit" }}</button>
                    {{/if}}
                    {{#if canDelete post }}
                        <button type="button" class="btn btn-sm btn-outline-primary frs-btn frs-delete-btn">{{ i18n label="delete" }}</button>
                    {{/if}}
                </div>
            </td>

            <td class="frs-td frs-edit-td w-100">
                {{#if canEdit post }}
                    <div>{{> frs_post_edit (parmsPostEdit post) }}</div>
                {{else}}
                    <div>{{{ post.content }}}</div>
                {{/if}}
            </td>

            <td class="frs-td frs-reply-td">
                {{#unless deleted }}
                    {{#if canReply post }}
                        <div>
                            <button type="button" class="btn btn-sm btn-outline-primary frs-btn frs-reply-btn" data-bs-toggle="button">{{ i18n label="reply" }}</button>
                        </div>
                    {{/if}}
                    {{#if isModerator }}
                        <div>
                            <button type="button" class="btn btn-sm btn-outline-primary frs-btn frs-moderate-btn">{{ i18n label="moderate" }}</button>
                        </div>
                    {{/if}}
                {{/unless}}
            </td>
        </tr>

        <tr class="frs-reply-tr" data-post-id="{{ post._id }}">
            <td></td>
            <td class="frs-td">
                <div>{{> frs_post_edit (parmsPostReply post) }}</div>
            </td>
            <td></td>
        </tr>

    </template>
