.frsForums,
.frsThreads,
.frsPosts,
.frsModerate,
.frsManager {
    margin-left: 2em;
    margin-right: 2em;

    .frs-top {
        display: flex;
        align-items: center;
        margin-top: 0.5em;

        .frs-left {
            flex-grow: 1;
        }
        .frs-title {
            font-size: 150%;
            font-weight: bold;
        }
        .frs-breadcrumb {
            margin-left: 1em;
            ol.breadcrumb {
                --bs-breadcrumb-margin-bottom: 0;
                li {
                    font-size: 0.85rem;
                }
            }
        }
    }
    .frs-header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        .frs-title {
            font-size: 125%;
            font-weight: bold;
        }
        .frs-comment {
            font-size: 100%;
            font-style: italic;
        }
    }
    .frs-total {
        font-size: 90%;
        font-weight: bold;
    }
}

/*
 * pwixModal editions
 */
.frs-category-panel,
.frs-forum-panel {
    .form-label {
        font-weight: normal;
        margin-bottom: 0;
        padding-right: 0.5em;
        color: gray;
    }
    .tab-content {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    form {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 0.5em;
        row-gap: 0.5em;
        .frs-one {
            justify-self: end;
            white-space: nowrap;
        }
        .frs-two {
            justify-self: start;
            white-space: nowrap;
        }
    }
}

// dotdotdot ellipsizer
.ellipsis-wrapper {
    .ellipsis-more,
    .ellipsis-less {
        font-size: 90%;
        color: gray;
    }
}

.frs-a:hover {
    text-decoration: none;
    color: black;
    //background-color: #e8e8e8;
    background-color: #e0f0f0;
}
// a badge which is displayed as a squared button
//  has to use '!important' to override Bootstrap 'badge' (or use e.g. span.frs-badge-btn but this would be too restrictive imho)
.frs-badge-btn {
    font-size: 80% !important;
    padding: 0.55em !important;
    width: 2.2em;
    min-width: 2.2em;
    max-width: 2.2em;
    height: 2.2em;
    min-height: 2.2em;
    max-height: 2.2em;
}
// a badge for a short label
.frs-badge-label {
    line-height: 1.4em !important;
    --bs-badge-padding-x: 1em !important;
}
.frs-badge-round {
    font-size: 14px !important;
    --bs-badge-padding-x: 0.55em !important;
    --bs-badge-padding-y: 0.55em !important;
    --bs-badge-border-radius: 1em !important;
    width: 2.25em;
    height: 2.25em;
}
.frs-center {
    text-align: center;
}
.frs-dcontents {
    display: contents;
}
.frs-ellipsize {
    // https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.frs-ellipsize-2 {
    -webkit-line-clamp: 2;
}
.frs-ellipsize-3 {
    -webkit-line-clamp: 3;
}
.frs-ellipsize-4 {
    -webkit-line-clamp: 4;
}
.frs-hidden {
    display: none;
}
.frs-h025 {
    height: 0.25em;
}
.frs-lh2 {
    height: 2em;
}
.frs-ml025 {
    margin-left: 0.25em;
}
.frs-ml05 {
    margin-left: 0.5em;
}
.frs-ml1 {
    margin-left: 1em;
}
.frs-mr05 {
    margin-right: 0.5em;
}
.frs-mr1 {
    margin-right: 1em;
}
.frs-mt05 {
    margin-top: 0.5em;
}
.frs-mt1 {
    margin-top: 1em;
}
.frs-nowrap {
    white-space: nowrap;
}
.frs-pb05 {
    padding-bottom: 0.5em;
}
.frs-pl1 {
    padding-left: 1em;
}
.frs-pl2 {
    padding-left: 2em;
}
.frs-pr1 {
    padding-right: 1em;
}
.frs-right {
    text-align: right;
}
.frs-transparent {
    opacity: 0;
}
.frs-vatop {
    vertical-align: top;
}
.frs-w2 {
    width: 2em;
    min-width: 2em;
    max-width: 2em;
}
.frs-w3 {
    width: 3em;
    min-width: 3em;
    max-width: 3em;
}
.frs-w100 {
    width: 100%;
}
/*
 * COLORS
 */
.frs-bg-cat,
 button.frs-bg-cat {
     background-color: #138D75;
 }
.frs-bg-cat:disabled,
button.frs-bg-cat:disabled {
    background-color: #82e0aa;
    opacity: 0.65;
}
.frs-bg-cat:not(.badge):hover,
button.frs-bg-cat:not(.badge):hover {
    background-color: #004d40;
}

.frs-bg-forum,
button.frs-bg-forum {
    background-color: #1F618D;
}
.frs-bg-forum:disabled,
button.frs-bg-forum:disabled {
    background-color: #7fb3d5;
    opacity: 0.65;
}
.frs-bg-forum:not(.badge):hover,
button.frs-bg-forum:not(.badge):hover {
    background-color: #154360;
}

.frs-bg-post {
    background-color: orange;
}