<template name="frs_posts_all">
    <div class="frs-posts-all">

        <!-- As of 2023- 2-23, only Safari/IOS supposts grid-template-columns: subgrid; - so get stuck with table presentation -->
        <table class="frs-content frs-w100">
            {{#if forumsCount }}
                {{#each f in forumsList }}
                    {{ forumCatch f }}
                    <tr>
                        <td colspan="3">
                            <div class="frs-forum {{ forumFirstClass f }} d-flex align-items-center">
                                <p class="frs-title">{{ f.title }}</p>
                                <div class="frs-pl1"></div>
                                {{{ badgePrivate f }}}
                                <div class="frs-ml05"></div>
                                {{{ badgeModeration f }}}
                            </div>
                        </td>
                    </tr>
                    {{#if f.postsCount }}
                        {{#each p in postsList f }}
                            {{ postCatch f p }}
                            {{#if threadDifferent f p }}
                                <tr>
                                    <td class="frs-pl1 frs-pr1 frs-pb05" colspan="3">
                                        <div class="frs-thread {{ threadFirstClass f p }} d-flex flex-align-items-center">
                                            <p class="frs-title">{{{ threadTitle p }}}</p>
                                            <div class="frs-ml1"></div>
                                            {{{ badgeNew p }}}
                                        </div>
                                    </td>
                                </tr>
                            {{/if}}
                            <tr class="frs-post {{ postFirstClass f p }}">
                                <td class="frs-authoring frs-vatop frs-pl2">
                                    <div>
                                        <p class="frs-date frs-nowrap">{{ postDate p }}</p>
                                        <p class="frs-author frs-nowrap">{{ postAuthor p }}</p>
                                        <p class="frs-score frs-nowrap">{{{ postScore p }}}</p>
                                    </div>
                                </td>
                                <td class="frs-vatop frs-pl1 frs-pr1 frs-w100">
                                    <div class="ellipsis-wrapper flex-grow-1" id="post-{{ p._id }}-content">
                                        <div class="frs-content ellipsis-text">{{{ p.content }}}</div>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <a class="ellipsis-more" href='#'>{{ i18n label="ellipsis_more" }}</a>&nbsp;
                                            <a class="ellipsis-less" href='#'>{{ i18n label="ellipsis_less" }}</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="frs-vatop frs-nowrap frs-pr1">
                                    <div class="frs-actions d-flex flex-column align-items-center">
                                        {{#if haveValidate f p }}
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-validate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="validate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                        {{#if haveUnvalidate f p }}
                                            <p class="frs-validated">{{{ validatedBy p }}}</p>
                                            <div class="frs-mt05"></div>
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-unvalidate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="unvalidate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                        {{#if haveModerate f p }}
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-moderate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="moderate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                        {{#if haveUnmoderate f p }}
                                            <a tabindex="0" role="button" class="btn btn-sm btn-outline-secondary frs-unmoderate-reason-btn"
                                                id="popover-{{ p._id }}"
                                                data-bs-toggle="popover"
                                                data-bs-placement="left"
                                                data-bs-trigger="focus"
                                                data-bs-title="{{ i18n label="info_title" }}" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{{ moderatedBy p }}}
                                            </a>
                                            {{ popoverInit f p }}
                                            <!--
                                            <p class="frs-moderated">{{{ moderatedBy p }}}</p>
                                            -->
                                            <div class="frs-mt05"></div>
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-unmoderate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="unmoderate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                    </div>
                                </td>
                            </tr>
                            {{ postEnd p }}
                        {{/each}}
                    {{else}}
                        <p class="frs-no-new-post">{{ noNewPost }}</p>
                    {{/if}}
                {{/each}}
            {{else}}
                <p class="frs-no-forum">{{ noForum }}</p>
            {{/if}}
        </table>

    </div>
</template>
