.frsManager {

    .frs-settings-tab,
    .frs-tree-tab {
        .tab-top {
            margin: 1em;
        }
        .tab-middle {
            margin-top: 0.5em;
            padding: 0.5em 0.25em;
            border: solid 1px lightgray;
            border-radius: 0.5em;
        }
    }

    .frs-tree-tab .buttons {
        button {
            white-space: nowrap;
        }
    }

    .frs-forums-tree {
        .jstree-anchor,
        .jstree-wholerow {
            line-height: 2.25em;
            height: 2.25em;
        }
        // categories
        ul > li {
            color: #138D75;
            font-weight: bold;
            i {
                display: inline;
            }
        }
        // forums
        ul > li > ul > li {
            color: #1F618D;
            font-weight: bold;
            display: flex;
        }
        a {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}
