<template name="frs_forum_edit">
    <div class="frs-forum-edit">

        <div class="modal modal-lg frs-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">{{ modalTitle }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <ul class="nav nav-tabs" role="tablist">
                            {{#each it in tabItems }}
                                <li class="nav-item" role="presentation">
                                    <button 
                                        id="{{ it.tab_id }}"
                                        type="button"
                                        class="nav-link {{ tabActive it }}"
                                        aria-selected="{{ tabSelected it }}"
                                        aria-controls="{{ it.pane_id }}"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#{{ it.pane_id }}">
                                            {{ tabLabel it }}
                                    </button>
                                </li>
                            {{/each}}
                        </ul>

                        <div class="tab-content container-fluid">
                            {{#each it in tabItems }}
                                <div
                                    class="tab-pane {{ paneActive it }} frs-tab" 
                                    id="{{ it.pane_id }}" 
                                    role="tabpanel" 
                                    aria-labelledby="{{ it.tab_id }}"
                                    tabindex="0">
                                        {{> Template.dynamic template=(it.template) data=(tabData it) }}
                                </div>
                            {{/each}}
                        </div>

                    </div>

                    <div class="modal-footer d-flex">
                        <div class="frs-end">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">{{ i18n label="btn_close" }}</button>
                            <button type="button" class="btn btn-primary btn-sm frs-save" {{ saveDisabled }}>{{ i18n label="btn_save" }}</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>
