<template name="frsModerate">
    <div class="frsModerate">

        <div class="frs-top">
            <div class="frs-left">
                <div class="frs-title">
                    {{ i18n label="page_title" }}
                </div>
                <div class="frs-header">
                    <div class="frs-left flex-grow-1">
                        <div class="frs-comment">
                            {{ i18n label="page_comment" }}
                        </div>
                    </div>
                    <div class="frs-right">
                    </div>
                </div>
            </div>
            <div class="frs-right">
                <form class="frs-settings">
                    <div class="frs-settings-colone">
                        <p class="frs-nowrap frs-mr05">{{ i18n label="date" }}</p>
                        <div class="input-date d-flex">
                            <input type="text" class="form-control form-control-sm frs-date" minlength="10" maxlength="10" value="{{ since }}"/>
                            <span class="fa-regular fa-sm fa-calendar-days calendar-icon"></span>
                        </div>
                        <div></div>
                        <div class="frs-two">
                            <input type="checkbox" class="form-check-input form-check-input-sm" id="ad1c4e54-eb60-416e-b6af-4e921a8dfcb7" data-frs-field="moderationShowEmpty" />
                            <label class="form-check-label form-check-label-sm" for="ad1c4e54-eb60-416e-b6af-4e921a8dfcb7">{{ i18n label="empty_checkbox" }}</label>
                        </div>
                    </div>
                    <div class="frs-settings-coltwo">
                        <div></div>
                        <div class="frs-two">
                            <input type="checkbox" class="form-check-input form-check-input-sm" id="4c6d32b3-2051-474e-9f7e-9a55ec7efcad" data-frs-field="moderationShowValidated" />
                            <label class="form-check-label form-check-label-sm" for="4c6d32b3-2051-474e-9f7e-9a55ec7efcad">{{ i18n label="validated_checkbox" }}</label>
                        </div>
                        <div></div>
                        <div class="frs-two">
                            <input type="checkbox" class="form-check-input form-check-input-sm" id="a67508fa-4d30-411e-ae5f-2080ab2b86de" data-frs-field="moderationShowModerated" />
                            <label class="form-check-label form-check-label-sm" for="a67508fa-4d30-411e-ae5f-2080ab2b86de">{{ i18n label="moderated_checkbox" }}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- As of 2023- 2-23, only Safari/IOS supposts grid-template-columns: subgrid; - so get stuck with table presentation -->
        <table class="frs-content frs-w100">
            {{#if forumsCount }}
                {{#each f in forumsList }}
                    {{ forumCatch f }}
                    <tr>
                        <td colspan="3">
                            <div class="frs-forum {{ forumFirst f }} d-flex align-items-center">
                                <p class="frs-title">{{ f.title }}</p>
                                <div class="frs-pl1"></div>
                                {{{ badgePrivate f }}}
                                <div class="frs-ml05"></div>
                                {{{ badgeModeration f }}}
                            </div>
                        </td>
                    </tr>
                    {{#if f.postsCount }}
                        {{#each p in postsList f }}
                            {{ postCatch f p }}
                            {{#if threadDifferent f p }}
                                <tr>
                                    <td class="frs-pl1 frs-pr1 frs-pb05" colspan="3">
                                        <div class="frs-thread {{ threadFirst f p }} d-flex flex-align-items-center">
                                            <p class="frs-title">{{{ threadTitle p }}}</p>
                                            <div class="frs-ml1"></div>
                                            {{{ badgeNew p }}}
                                        </div>
                                    </td>
                                </tr>
                            {{/if}}
                            <tr class="frs-post {{ postFirst f p }}">
                                <td class="frs-authoring frs-vatop frs-pl2">
                                    <div>
                                        <p class="frs-date frs-nowrap">{{ postDate p }}</p>
                                        <p class="frs-author frs-nowrap">{{ postAuthor p }}</p>
                                        <p class="frs-score frs-nowrap">{{{ postScore p }}}</p>
                                    </div>
                                </td>
                                <td class="frs-vatop frs-pl1 frs-pr1 frs-w100">
                                    <div class="ellipsis-wrapper flex-grow-1" id="post-{{ p._id }}-content">
                                        <div class="frs-content ellipsis-text">{{{ p.content }}}</div>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <a class="ellipsis-more" href='#'>{{ i18n label="ellipsis_more" }}</a>&nbsp;
                                            <a class="ellipsis-less" href='#'>{{ i18n label="ellipsis_less" }}</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="frs-vatop frs-nowrap frs-pr1">
                                    <div class="frs-actions d-flex flex-column align-items-center">
                                        {{#if haveValidate f p }}
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-validate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="validate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                        {{#if haveUnvalidate f p }}
                                            <p class="frs-validated">{{{ validatedBy p }}}</p>
                                            <div class="frs-mt05"></div>
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-unvalidate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="unvalidate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                        {{#if haveModerate f p }}
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-moderate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="moderate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                        {{#if haveUnmoderate f p }}
                                            <p class="frs-moderated">{{{ moderatedBy p }}}</p>
                                            <div class="frs-mt05"></div>
                                            <button type="button" class="btn btn-sm btn-outline-primary frs-unmoderate-btn" data-frs-post="{{ p._id }}" data-frs-forum="{{ p.forum }}">
                                                {{ i18n label="unmoderate" }}
                                            </button>
                                            <div class="frs-mt05"></div>
                                        {{/if}}
                                    </div>
                                </td>
                            </tr>
                            {{ postEnd }}
                        {{/each}}
                    {{else}}
                        <p class="frs-no-new-post">{{ noNewPost }}</p>
                    {{/if}}
                {{/each}}
            {{else}}
                <p class="frs-no-forum">{{ noForum }}</p>
            {{/if}}
        </table>

        <div class="frs-bottom">
        </div>

    </div>
</template>
