<template name="frs_category_edit">
    <div class="frs-category-edit">

        <div class="modal frs-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">{{ modalTitle }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <table class="w-100">
                            <tr>
                                <td class="frs-right">
                                    <label for="" class="form-label form-label-sm">{{ i18n label="title_label" }}</label>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm frs-title" placeholder="{{ i18n label="title_placeholder" }}" value="{{ catTitle }}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="frs-right frs-top">
                                    <label for="" class="form-label form-label-sm">{{ i18n label="description_label" }}</label>
                                </td>
                                <td>
                                    <textarea class="form-control form-control-sm frs-description" placeholder="{{ i18n label="description_placeholder" }}" rows="3">{{ catDescription }}</textarea>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">{{ i18n label="btn_close" }}</button>
                        <button type="button" class="btn btn-primary btn-sm frs-save" {{ saveDisabled }}>{{ i18n label="btn_save" }}</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>
